.direnv/
.env

# Opening Books
books/*
!books/8moves_v3.pgn

# Match results
results/
lichess_bot_auto_logs/

# Engines to benchmark against
baselines/

# Added by cargo
/target

# Lichessbotconfig
config.yml
